{% extends "base.html" %}
{% load static %}

{% block title %} EVOPY {% endblock %}
{% block content %}

    <!-- Hero Section Start -->
    <div class="hero bg-section hero-slider-layout">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static "images/hero-bg.jpg" %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">به evopy خوش آمدید</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">آموزش <span> پایتون و جنگو </span>_
                                                    یادگیری سریع بر اساس حل مشکل شما
                                                </h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s"> در اینجا آموزش های رایگان
                                                    پایتون و جنگو را از پابه تا پبشرفته بر اساس حل مشکلات برنامه نویسی
                                                    پیدا می کنید تا در کمترین زمان به یک برنامه نویس حرفه ای تبدیل
                                                    شوید</p>
                                            </div>
                                            <!-- Section Title End -->

                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="contact.html" class="btn-default">آموزش مورد نظرت رو شروع
                                                    کن</a>
                                                <a href="book-appointment.html" class="btn-default btn-highlighted">قرار
                                                    ملاقات</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                <!-- Hero Slide End -->

                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static "images/hero-bg-2.jpg" %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">به infine. خوش آمدید</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">زندگی خود را با
                                                    <span>مربیگری کسب و کار</span> بهتر کنید
                                                </h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s">لورم ایپسوم متن ساختگی با
                                                    تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                                    چاپگرها و متون بلکه روزنامه و مجله در .</p>
                                            </div>
                                            <!-- Section Title End -->

                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="contact.html" class="btn-default">ارتباط با ما</a>
                                                <a href="book-appointment.html" class="btn-default btn-highlighted">قرار
                                                    ملاقات</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                <!-- Hero Slide End -->
            </div>
            <div class="hero-pagination"></div>
        </div>
    </div>
    <!-- Hero Section End -->


    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Image Start -->
                    <div class="about-us-images">
                        <!-- About Us Img Start -->
                        <div class="about-us-img-1">
                            <figure class="image-anime">
                                <img loading="lazy" src="{% static "images/about-us-img-1.jpg" %}" alt="">
                            </figure>
                        </div>
                        <!-- About Us Img End -->

                        <!-- About Us Img Start -->
                        <div class="about-us-img-2">
                            <figure class="image-anime">
                                <img loading="lazy" src="{% static "images/about-us-img-2.jpg" %}" alt="">
                            </figure>
                        </div>
                        <!-- About Us Img End -->

                        <!-- About Experience Box Start -->
                        <div class="about-experience-box">
                            <div class="icon-box">
                                <img src="{% static "images/icon-company-experience.svg{%static " %}" alt="">
                            </div>

                            <div class="about-experience-content">
                                <h3><span class="counter">30</span>+ سال تجربه کاری</h3>
                            </div>
                        </div>
                        <!-- About Experience Box End -->

                        <!-- Company Review Start -->
                        <div class="company-review">
                            <h3>5200+ نظر پنج ستاره</h3>
                        </div>
                        <!-- Company Review End -->
                    </div>
                    <!-- About Us Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">درباره ما</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">توسعه دهنده و مدرس <span>پایتون و جنگو</span>
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s"> بیش از 3 سال تجربه در زمینه توسعه پروژه های
                                پایتون و جنگو، حالا تصمیم گرفتیم تجربه و دانش خود را در قالب آموزش های رایگان با شما به
                                اشتراک بگذاریم تا یادگیری این تکنولوژی های قدرمتند برای همه ساده و کاربردی باشد. </p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Us List Start -->
                        <div class="about-us-list wow fadeInUp" data-wow-delay="0.6s">
                            <ul>
                                <li>آموزش های رایگان و تخصصی با پشتوانه 3 سال تجربه واقعی</li>
                                <li> یادگاری تکنولوژی های روز مثل داده کاوی و AI</li>
                            </ul>
                        </div>
                        <!-- About Us List End -->

                        <!-- About Us Body Start -->
                        <div class="about-us-body">
                            <!-- About Company Client Start -->
                            <div class="about-comapny-client wow fadeInUp" data-wow-delay="0.8s">
                                <!-- Company Client Images Start -->
                                <div class="company-client-images">
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img width="50" height="50" loading="lazy"
                                                 src="{% static "images/satisfy-client-img-1.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img width="50" height="50" loading="lazy"
                                                 src="{% static "images/satisfy-client-img-2.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img width="50" height="50" loading="lazy"
                                                 src="{% static "images/satisfy-client-img-3.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img width="50" height="50" loading="lazy"
                                                 src="{% static "images/satisfy-client-img-4.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img width="50" height="50" loading="lazy"
                                                 src="{% static "images/satisfy-client-img-5.jpg" %}" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Company Client Images End -->

                                <!-- Company Client Counter Start -->
                                <div class="company-client-counter">
                                    <p>به<span dir="ltr"> +5000 </span>مشتری راضی ما بپیوندید</p>
                                </div>
                                <!-- Company Client Counter End -->
                            </div>
                            <!-- About Company Client End -->

                            <!-- About Company Result Start -->
                            <div class="about-company-result wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon-box">
                                    <img src="{% static "images/icon-company-result.svg{%static "" %}" alt="">
                                </div>

                                <div class=" company-result-content">
                                    <h3>نتیجه خلاقانه</h3>
                                    <p>برنده جایزه</p>
                                </div>
                            </div>
                            <!-- About Company Result End -->
                        </div>
                        <!-- About Us Body End -->

                        <!-- About Us Footet Start -->
                        <div class="about-us-footer wow fadeInUp" data-wow-delay="1s">
                            <a href="contact.html" class="btn-default">ارتباط با ما</a>
                        </div>
                        <!-- About Us Footet End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Our Service Start -->
    <div class="our-service bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Service Content Start -->
                    <div class="service-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp"> خدمات ما</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s"> خدمات برنامه نویسی <span> جنگو</span>
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">هرآنچه برای وب سایت و سامانه های تحت وب نیاز
                                دارید اینجاست! </p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Service Btn Start -->
                        <div class="service-btn wow fadeInUp" data-wow-delay="0.75s">
                            <a href="service.html" class="btn-default">مشاوره رایگان</a>
                        </div>
                        <!-- Service Btn End -->
                    </div>
                    <!-- Service Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Service Item List Start -->
                    <div class="service-item-list">
                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-1.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>1.طراحی و توسعه وب سایت های اختصاصی با جنگو </h3>
                                <p> -طراحی سایت های شرکتی، فروشگاهی و خدماتی با پنل اختصاصی </p>
                                <p> -رابط کاربری واکنش گرا و سریع</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-2.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>2.ساخت سامانه ها و نرم افزار های تحت وب</h3>
                                <p> سیستم رزرو آنلاین و انواع داشبورد مدیریتی، LLM,ERP,CRM </p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-3.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>3.طراحی فروشگاه اینترنتی</h3>
                                <p>-پیاده سازی فروشگاه آنلاین با امکانات حرفه ای(سبد خرید،درگاه پرداخت، مدیریت موجودی و
                                    سفارشات و ...)</p>
                                <p>-اتصال به سیستم های ارسال پیامک و ایمیل و...</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-4.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>4. بهینه سازی و ارتقای پروژه های جنگو</h3>
                                <p>-بهبود عملکرد، امنیت و مقیاس پذیری سیستم های موجود</p>
                                <p>-رفع مشکلات و باگ های پروژه های جنگو</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-5.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>5.امنیت و و مدیریت سرور</h3>
                                <p>-پیاده سازی سیستم احراز هویت</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="1s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-6.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>6. پشتیبانی و نگهداری سامانه ها</h3>
                                <p>-آپدیت و توسعه مداوم سامانه</p>
                                <p>-پشتیبانی فنی و آموزش کار با پنل مدیریت</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-5.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>7.اتصال سامانه به API</h3>
                                <p>-اتصال به API های بانکی،پیامکی و ...</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->
                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-5.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>8.اتصال وب سایت به FrontEnd</h3>
                                <p>-اتصال به تمام زبان های برنامه نویسی فرانت اند</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->
                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static "images/icon-services-5.svg" %}" alt="">
                            </div>

                            <div class="service-item-content">
                                <h3>9. مشاوره و تحلیل نیازمندی های نرم افزاری</h3>
                                <p>-بررسی ایده ها و ارائه راهکار فنی قبل از شروع پروژه</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->

                        <!-- Service Item Start -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Footer Start -->
                    <div class="service-footer wow fadeInUp" data-wow-delay="0.25s">
                        <p><span>رایگان </span>برای درخواست پروژه با ما تماس بگیرید <a href="contact.html">تماس با
                            ما</a></p>
                    </div>
                    <!-- Service Footer Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Service End -->

    <!-- Our Potential Start -->
    <div class="our-potential">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Our Potential Content Start -->
                    <div class="our-potential-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp"> ما کی هستیم</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">پتانسیل خود را<span> با متخصصین ما فعال
                                    کنید</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                                ستون و سطرآنچنان که لازم است، و برای شرایط .</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Potential Counter Start -->
                        <div class="our-potential-counter">
                            <!-- Potential Counter Item Start -->
                            <div class="potential-counter-item">
                                <div class="counter-circle">
                                    <h2><span class="counter">98</span>%</h2>
                                </div>
                                <div class="potential-counter-content">
                                    <h3>مشتریان راضی</h3>
                                </div>
                            </div>
                            <!-- Potential Counter Item End -->

                            <!-- Potential Counter Item Start -->
                            <div class="potential-counter-item">
                                <div class="counter-circle">
                                    <h2><span class="counter">20</span>K</h2>
                                </div>
                                <div class="potential-counter-content">
                                    <h3>پروژه های تکمیل شده</h3>
                                </div>
                            </div>
                            <!-- Potential Counter Item End -->
                        </div>
                        <!-- Our Potential Counter End -->

                        <!-- Our Potential Body Start -->
                        <div class="our-potential-body">
                            <!-- Potential Body Content Start -->
                            <div class="potential-body-content">
                                <h3 class="wow fadeInUp">مربیان حرفه ای خبره و با تجربه</h3>
                                <p class="wow fadeInUp" data-wow-delay="0.2s"> تیم ما متشکل از مربیان بسیار آموزش دیده و
                                    دارای گواهینامه است که با آخرین شیوه های مربیگری به روز است.</p>
                            </div>
                            <!-- Potential Body Content End -->

                            <!-- Potential Body List Start -->
                            <div class="potential-body-list wow fadeInUp" data-wow-delay="0.4s">
                                <ul>
                                    <li>پشتیبانی مستمر و مسئولیت پذیری</li>
                                    <li>فعالیت های نتیجه‌محور با تغییرات پایدار</li>
                                </ul>
                            </div>
                            <!-- Potential Body List End -->
                        </div>
                        <!-- Our Potential Body End -->
                    </div>
                    <!-- Our Potential Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Our Potential Image Start -->
                    <div class="our-potential-img">
                        <figure class="image-anime reveal">
                            <img src="{% static "images/our-potential-img.jpg" %}" alt="">
                        </figure>
                    </div>
                    <!-- Our Potential Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Potential End -->



    <!-- Intro Video Section Start -->
    <div class="intro-video bg-section parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <!-- Section Title Start -->
                    <div class="section-title wow fadeInUp">
                        <h2>سمینارهای کوچ ما را <span>به صورت آنلاین</span> تماشا کنید</h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6 col-md-4">
                    <!-- Intro Video Box Start -->
                    <div class="intro-video-box">
                        <!-- Video Play Button Start -->
                        <div class="video-play-button">
                            <a href="{% static "video/1.mp4" %}" class="popup-video" data-cursor-text="نمایش">
                                <i class="fa-solid fa-play"></i>
                            </a>
                            <p>تماشای ویدیو</p>
                        </div>
                        <!-- Video Play Button End -->
                    </div>
                    <!-- Intro Video Box End -->
                </div>

                <div class="col-lg-12">
                    <!-- Intro Video List Start -->
                    <div class="intro-video-list wow fadeInUp" data-wow-delay="0.25s">
                        <ul>
                            <li>موفقیت شخصی و حرفه ای</li>
                            <li>پتانسیل شما با مربیگری خبره</li>
                            <li>استراتژی های متناسب برای رشد</li>
                            <li>توانمندسازی موفقیت در سفر</li>
                        </ul>
                    </div>
                    <!-- Intro Video List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Intro Video Section End -->

    <!-- How We Work Section Start -->
    <div class="how-we-work">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">چگونه کار می کنیم</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">فرآیند انجام پروژه ها در تیم
                            <span>اوو پای</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="contact.html" class="btn-default">مشاوره رایگان</a>
                    </div>
                    <!-- Section Button End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- How Work Item Start -->
                    <div class="how-work-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="{% static "images/icon-how-work-1.svg" %}" alt="">
                        </div>

                        <div class="how-work-content">
                            <h3><span>01.</span> تحلیل و طراحی اولیه</h3>
                            <p>بررسی نیاز ها، هدف پروژه و ویژگی های مورد انتظار طراحی ساختار کلی پروژه،مدل های پایگاه
                                داده و رابط کاربری اولیه.
                                <br>
                                شروع درست = صرفه جویی در وقت و انرژی در ادامه مسیر</p>
                        </div>
                    </div>
                    <!-- How Work Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- How Work Item Start -->
                    <div class="how-work-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="{% static "images/icon-how-work-2.svg" %}" alt="">
                        </div>

                        <div class="how-work-content">
                            <h3><span>02.</span> پیاده سازی و توسعه</h3>
                            <p>نوشتن کد های بک اند با جنگو با جنگو و ساختاردهی پروژه و ایجاد صفحات، فرم ها، مدل ها و
                                پیاده سازی عملکرد اصلی پروژه، همه چیز مرحله به مرحله و قابل تست انجام می شود</p>
                        </div>
                    </div>
                    <!-- How Work Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- How Work Item Start -->
                    <div class="how-work-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="{% static "images/icon-how-work-3.svg" %}" alt="">
                        </div>

                        <div class="how-work-content">
                            <h3><span>03.</span>تست و رفع باگ </h3>
                            <p>بررسی عملکرد پروژه در شرایط مختلف، تست فرم ها، عملیات پایگاه داده، امنیت و سرعت، رفع
                                خطاها و بهینه سازی کد هدف:
                                <br>
                                پروژه ای پایدار، سریع و بدون خطای فنی</p>
                        </div>
                    </div>
                    <!-- How Work Item End -->
                </div>

                <div class="col-lg-3 col-md-6">
                    <!-- How Work Item Start -->
                    <div class="how-work-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="{% static "images/icon-how-work-4.svg" %}" alt="">
                        </div>

                        <div class="how-work-content">
                            <h3><span>04.</span> دیپلوی و پشتیبانی</h3>
                            <p>انتقال پروژه به سرور و تنظیم نهایی، آموزش استفاده، مستند سازی و ارائه پشتیبانی فنی.آماده
                                سازی برای توسعه های بعدی و پروژه آماده استفاده واقعی میشود</p>
                        </div>
                    </div>
                    <!-- How Work Item End -->
                </div>
            </div>
        </div>


    </div>
    <!-- How We Work Section End -->



    <!-- Our FAQs Section Start -->
    <div class="our-faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Our FAQs Content Start -->
                    <div class="our-faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">سوالات متداول</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">سوالات مربوط به آموزش</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- FAQs CTA Box Start -->
                        <div class="faqs-cta-box wow fadeInUp" data-wow-delay="0.75s">
                            <!-- Company Client Images Start -->
                            <div class="company-client-images">
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img width="50" height="50" loading="lazy"
                                             src="{% static "images/satisfy-client-img-1.jpg" %}"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img width="50" height="50" loading="lazy"
                                             src="{% static "images/satisfy-client-img-2.jpg" %}"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img width="50" height="50" loading="lazy"
                                             src="{% static "images/satisfy-client-img-3.jpg" %}"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img width="50" height="50" loading="lazy"
                                             src="{% static "images/satisfy-client-img-4.jpg" %}"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img width="50" height="50" loading="lazy"
                                             src="{% static "images/satisfy-client-img-5.jpg" %}"
                                             alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Company Client Images End -->
                            <div class="faqs-cta-content">
                                <h3>هنوز سوالی دارید؟</h3>
                                <p>ما آماده ایم به شما کمک کنیم تا به هر سوالی پاسخ دهید.</p>
                                <a href="tel:06142226893" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>
                                    <span dir="ltr">061
                                    42226893</span>
                                </a>
                                <br>
                                <a href="tel:06142226893" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>
                                    <span dir="ltr">09308019191</span>
                                </a>
                            </div>

                        </div>
                        <!-- FAQs CTA Box End -->
                    </div>
                    <!-- Our FAQs Content End -->
                </div>

                <div class="col-lg-6">
                    <div class="our-faq-section">
                        <!-- FAQ Accordion Start -->
                        <div class="faq-accordion" id="faqaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        پایتون رو از کجا شروع کنم؟ آیا نیاز به پیش نیازی داره؟
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                                     data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>برای شروع نیاز به هیچ پیش نیازی نداره. فقط آشنایی اولیه با کار با کامپیوتر
                                            کفایت می کنه. آموزش های ما از پایه شروع میشه و برای مبتدی ها کاملا مناسب
                                            است</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        جنگو چیست و چه فرقی با سایر فریموورک ها دارد؟
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2"
                                     data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>یک فریمورک تحت وب برای زبان پایتون است که (Django) جنگو به شما کمک می کند وب
                                            سایت ها و نرم افزار های تحت وب را سریع تر و امن تر بسازید. تفاوت اصلی آن با
                                            سایر فریمورک ها در سرعت توسعه بالا و امکانات آماده ای است که ارائه می
                                            دهد. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        چقدر طول می کشه پایتون و جنگو رو یاد بگیریم؟
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                     data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>بستگی به زمانی که روزانه اختصاص می دهید دارد. اگر روزانه 1 تا 2 ساعت تمرین
                                            کنید، می توانید در 2 تا 3 ماه به سطحی برسید که پروژه های ساده را اجرا
                                            کنید.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        آیا آموزش ها پروژه محور هستند یا فقط تئوری؟
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                     data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>آموزش ها کاملا مطابق با ارور ها و مشکلات دانشجویان در پروژه ها طراحی شده است
                                            تا بتوانید مهارت ها را در عمل یاد بگیرید و پروژه واقعی بسازید.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        بعد از یادگیری، می توانم از این مهارت درآمد کسب کنم؟
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                     data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>پایتون و جنگو از پرتقاضاترین مهارت ها در بازار کار هستند و پس از یادگیری می
                                            توانید به عنوان فریلنسری یا در شرکت ها مشغول به کار شوید. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our FAQs Section End -->


    <!-- Our Blog Section Start -->
    <div class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Our Blog Content Start -->
                    <div class="our-blog-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">مقالات</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">آخرین مقالات <span>
                                    اوو پای</span></h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Blog Button Start -->
                        <div class="our-blog-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="contact.html" class="btn-default">مشاهده همه مقالات</a>
                        </div>
                        <!-- Our Blog Button End -->
                    </div>
                    <!-- Our Blog Content End -->
                </div>
                {##}
                {#                <div class="col-lg-8">#}
                {#                    <!-- Blog Box Start -->#}
                {#                    <div class="blog-box">#}
                {#                        {% for item in articles %}#}
                {#                            <!-- Blog Item Start -->#}
                {#                            <div class="blog-item wow fadeInUp">#}
                {#                                <!-- Blog Featured Image Start -->#}
                {#                                <div class="blog-featured-image">#}
                {#                                    <a href="{{ item.get_absolute_url }} " class="image-anime" data-cursor-text="نمایش">#}
                {#                                        <figure>#}
                {#                                            <img loading="lazy" width="332" height="249"#}
                {#                                                 src="{{ item.image.url }}" alt="">#}
                {#                                        </figure>#}
                {#                                    </a>#}
                {#                                </div>#}
                {#                                <!-- Blog Featured Image End -->#}
                {##}
                {#                                <!-- Blog Item Body Start -->#}
                {#                                <div class="blog-item-body">#}
                {#                                    <!-- Blog Item Content Start -->#}
                {#                                    <div class="blog-item-content">#}
                {#                                        <h2><a href="blog-single.html">{{ item.title }}</a></h2>#}
                {#                                        <p> {{ item.body|safe|truncatewords:30 }}</p>#}
                {#                                    </div>#}
                {#                                    <!-- Blog Item Content End -->#}
                {##}
                {#                                    <!-- Blog Item Button Start -->#}
                {#                                    <div class="blog-item-btn">#}
                {#                                        <a href="{{ item.get_absolute_url }}" class="btn-default">اطلاعات بیشتر</a>#}
                {#                                    </div>#}
                {#                                    <!-- Blog Item Button End -->#}
                {#                                </div>#}
                {#                                <!-- Blog Item Body End -->#}
                {#                            </div>#}
                {#                            <!-- Blog Item End -->#}
                {#                        {% endfor %}#}


                {#                        <!-- Blog Item Start -->#}
                {#                        <div class="blog-item wow fadeInUp" data-wow-delay="0.25s">#}
                {#                            <!-- Blog Featured Image Start -->#}
                {#                            <div class="blog-featured-image">#}
                {#                                <a href="blog-single.html" class="image-anime" data-cursor-text="نمایش">#}
                {#                                    <figure>#}
                {#                                        <img loading="lazy" width="332" height="249" src="{% static "images/post-2.jpg" %}" alt="">#}
                {#                                    </figure>#}
                {#                                </a>#}
                {#                            </div>#}
                {#                            <!-- Blog Featured Image End -->#}
                {##}
                {#                            <!-- Blog Item Body Start -->#}
                {#                            <div class="blog-item-body">#}
                {#                                <!-- Blog Item Content Start -->#}
                {#                                <div class="blog-item-content">#}
                {#                                    <h2><a href="blog-single.html">چگونه تعادل کار و زندگی را در دنیای شلوغ حفظ کنیم</a>#}
                {#                                    </h2>#}
                {#                                    <p> حفظ تعادل بین کار و زندگی در دنیای پر سرعت امروز می تواند چالش برانگیز باشد.</p>#}
                {#                                </div>#}
                {#                                <!-- Blog Item Content End -->#}
                {##}
                {#                                <!-- Blog Item Button Start -->#}
                {#                                <div class="blog-item-btn">#}
                {#                                    <a href="blog-single.html" class="btn-default">اطلاعات بیشتر</a>#}
                {#                                </div>#}
                {#                                <!-- Blog Item Button End -->#}
                {#                            </div>#}
                {#                            <!-- Blog Item Body End -->#}
                {#                        </div>#}
                {#                        <!-- Blog Item End -->#}
                {##}
                {#                        <!-- Blog Item Start -->#}
                {#                        <div class="blog-item wow fadeInUp" data-wow-delay="0.5s">#}
                {#                            <!-- Blog Featured Image Start -->#}
                {#                            <div class="blog-featured-image">#}
                {#                                <a href="blog-single.html" class="image-anime" data-cursor-text="نمایش">#}
                {#                                    <figure>#}
                {#                                        <img loading="lazy" width="332" height="249" src="{% static "images/post-3.jpg" %}" alt="">#}
                {#                                    </figure>#}
                {#                                </a>#}
                {#                            </div>#}
                {#                            <!-- Blog Featured Image End -->#}
                {##}
                {#                            <!-- Blog Item Body Start -->#}
                {#                            <div class="blog-item-body">#}
                {#                                <!-- Blog Item Content Start -->#}
                {#                                <div class="blog-item-content">#}
                {#                                    <h2><a href="blog-single.html">قدرت ذهنیت که زندگی و تجارت شما را متحول می کند</a>#}
                {#                                    </h2>#}
                {#                                    <p> طرز فکر مثبت باعث رشد، موفقیت و انعطاف پذیری در زندگی و تجارت می شود.#}
                {#                                    </p>#}
                {#                                </div>#}
                {#                                <!-- Blog Item Content End -->#}
                {##}
                {#                                <!-- Blog Item Button Start -->#}
                {#                                <div class="blog-item-btn">#}
                {#                                    <a href="blog-single.html" class="btn-default">اطلاعات بیشتر</a>#}
                {#                                </div>#}
                {#                                <!-- Blog Item Button End -->#}
                {#                            </div>#}
                {#                            <!-- Blog Item Body End -->#}
                {#                        </div>#}
                {#                        <!-- Blog Item End -->#}
                <div class="col-lg-8">
                    <!-- Blog Box Start -->
                    <div class="blog-box">
                        {% for item in articles|slice:":3" %}
                            <!-- Blog Item Start -->
                            <div class="blog-item wow fadeInUp">
                                <!-- Blog Featured Image Start -->
                                <div class="blog-featured-image">
                                    <a href="{{ item.get_absolute_url }}" class="image-anime" data-cursor-text="نمایش">
                                        <figure>
                                            <img loading="lazy" width="332" height="249"
                                                 src="{{ item.image.url }}" alt="{{ item.title }}">
                                        </figure>
                                    </a>
                                </div>
                                <!-- Blog Featured Image End -->

                                <!-- Blog Item Body Start -->
                                <div class="blog-item-body">
                                    <!-- Blog Item Content Start -->
                                    <div class="blog-item-content">
                                        <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
                                        {{ item.body|safe|striptags|truncatewords:30}}
                                        {#|truncatewords:30,|striptags,|safe#}

                                    </div>
                                    <!-- Blog Item Content End -->

                                    <!-- Blog Item Button Start -->
                                    <div class="blog-item-btn">
                                        <a href="{{ item.get_absolute_url }}" class="btn-default">اطلاعات بیشتر</a>
                                    </div>
                                    <!-- Blog Item Button End -->
                                </div>
                                <!-- Blog Item Body End -->
                            </div>
                            <!-- Blog Item End -->
                        {% empty %}
                            <p class="text-center">مقاله ای یافت نشد</p>
                        {% endfor %}
                    </div>
                    <!-- Blog Box End -->
                </div>
            </div>
            <!-- Blog Box End -->
        </div>
    </div>
    </div>
    </div>
    <!-- Our Blog Section End -->


{% endblock %}